


@font-face {
    font-family: 'sf_pro';
    src: url('sf-pro-display-ultralight-webfont.woff2') format('woff2'),
         url('sf-pro-display-ultralight-webfont.woff') format('woff'),
         url('sf-pro-display-ultralight-webfont.ttf') format('truetype'),
         url('sf-pro-display-ultralight-webfont.svg#sf_pro_displayultralight') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('sf-pro-display-thin-webfont.woff2') format('woff2'),
         url('sf-pro-display-thin-webfont.woff') format('woff'),
         url('sf-pro-display-thin-webfont.ttf') format('truetype'),
         url('sf-pro-display-thin-webfont.svg#sf_pro_displaythin') format('svg');
    font-weight: 200;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('sf-pro-display-semibold-webfont.woff2') format('woff2'),
         url('sf-pro-display-semibold-webfont.woff') format('woff'),
         url('sf-pro-display-semibold-webfont.ttf') format('truetype'),
         url('sf-pro-display-semibold-webfont.svg#sf_pro_displaysemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('sf-pro-display-regular-webfont.woff2') format('woff2'),
         url('sf-pro-display-regular-webfont.woff') format('woff'),
         url('sf-pro-display-regular-webfont.ttf') format('truetype'),
         url('sf-pro-display-regular-webfont.svg#sf_pro_displayregular') format('svg');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('sf-pro-display-medium-webfont.woff2') format('woff2'),
         url('sf-pro-display-medium-webfont.woff') format('woff'),
         url('sf-pro-display-medium-webfont.ttf') format('truetype'),
         url('sf-pro-display-medium-webfont.svg#sf_pro_displaymedium') format('svg');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('sf-pro-display-light-webfont.woff2') format('woff2'),
         url('sf-pro-display-light-webfont.woff') format('woff'),
         url('sf-pro-display-light-webfont.ttf') format('truetype'),
         url('sf-pro-display-light-webfont.svg#sf_pro_displaylight') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('sf-pro-display-heavy-webfont.woff2') format('woff2'),
         url('sf-pro-display-heavy-webfont.woff') format('woff'),
         url('sf-pro-display-heavy-webfont.ttf') format('truetype'),
         url('sf-pro-display-heavy-webfont.svg#sf_pro_displayheavy') format('svg');
    font-weight: 800;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('sf-pro-display-bold-webfont.woff2') format('woff2'),
         url('sf-pro-display-bold-webfont.woff') format('woff'),
         url('sf-pro-display-bold-webfont.ttf') format('truetype'),
         url('sf-pro-display-bold-webfont.svg#sf_pro_displaybold') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'sf_pro';
    src: url('sf-pro-display-black-webfont.woff2') format('woff2'),
         url('sf-pro-display-black-webfont.woff') format('woff'),
         url('sf-pro-display-black-webfont.ttf') format('truetype'),
         url('sf-pro-display-black-webfont.svg#sf_pro_displayblack') format('svg');
    font-weight: 900;
    font-style: normal;

}